Flask==2.0.1
Flask_Cors==3.0.10
imageio==2.15.0
ipdb==0.13.9
ipython==8.0.1
numpy==1.21.2
Pillow==9.0.1
scipy==1.6.3
tqdm==4.62.1
scikit_image==0.16.2
opencv-python==4.10.0.84
ninja==1.11.1
setuptools==67.6.1